/* ------------------------------ HOME ---------------------------------*/
/* HEADER*/
.header.masthead{
    /*Cambiar link a ../img/img.jpg*/
    background-image: url('(img/img.jpg)');
   background-color: transparent;
}
/* FORM INICIO*/
.form-inicio {
    max-width: 350px;
}